button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;

  border: 0;
  border-radius: 8px;
}

button p {
  font-size: 0.94rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

button.default {
  color: #fff;
  background-color: var(--orange);
}

button.no-background {
  color: #fff;
  background-color: transparent;
}

button.no-background:hover {
  background-color: transparent;
  border: none;
}

button.no-background.primary:hover {
  background-color: rgba(245, 123, 29, 0.35);
}

button.no-background.secondary:hover {
  background-color: rgba(229, 46, 77, 0.35);
}

button.no-background.tertiary:hover {
  background-color: rgba(137, 137, 137, 0.35);
}

button.outlined.primary {
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: rgba(245, 123, 29, 0.15);
}

button.outlined.secondary {
  border: 1px solid var(--error);
  color: var(--error);
  background-color: rgba(229, 46, 77, 0.15);
}

button.outlined.tertiary {
  border: 1px solid var(--gray);
  color: #4d4d4d;
  background-color: transparent;
}

button.icon-start img {
  margin-right: 0.5rem;
}

button.icon-end img {
  margin-left: 0.5rem;
}

button.icon-no-label img {
  margin: 0;
}

button {
  transition: ease 0.2s;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
  transition: ease 0.2s;
}

@media (max-width: 560px) {
  button.icon {
    padding: 8px 10px;
    font-size: 0.94rem;
  }
}



.addButton {
  width: fit-content;
  padding: 1rem;
  border-radius: 50% !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed ; 
  bottom: 50px ;
  right: 50px;
}

.addButton:hover img{
  animation: spin 1s;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg)
  }
  50% {
    transform: rotateZ(180deg)

  }100% {
    transform: rotateZ(180deg)
  }
}
