.dashboardContainer {
  width: 100%;
  display: flex;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  padding: 60px 3rem 0;

  width: 100%;
  max-width: 1120px;
  height: calc(100% - 90px);
}

.dashboardContent .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardContent .header h1 {
  font-size: 3rem;
  font-weight: 700;
}

.dashboardContent .counter {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

.dashboardContent .counter span {
  font-weight: 900;
  font-size: 3.125rem;
  line-height: 3.125rem;
  margin-right: 0.5rem;
  color: var(--soft-black);
}

.dashboardContent .counter div p {
  color: #7c7c7c;
}

.dashboardContent .counter div p:last-child {
  color: var(--soft-black);
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.dashboardContainer div table {
  width: 100%;
  justify-content: center;
  border-spacing: 0 0.5rem;
  margin-top: 40px;
}

.dashboardContainer div table th {
  color: var(--gray);
  padding: 1rem 2rem;

  text-align: center;
  font-weight: bold;
  line-height: 1.25rem;
  font-family: "Lato", sans-serif;
}

.dashboardContainer div table td {
  color: var(--soft-black);
  font-family: "Lato", sans-serif;

  border: 0;
  padding: 1rem;
  border-radius: 0.25rem;
  background: #fff;
}

.dashboardContainer div table tr td,
.dashboardContainer div table tr th {
  text-align: center;
}

.dashboardContainer div table tbody td:last-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.no-content {
  width: 450px;
  border-radius: 5px;
  background-color: #fff;

  padding: 3.125rem 3.75rem;
  font-size: 1.15rem !important;
  font-family: "Lato", sans-serif;

  margin: 5rem auto 0;
  text-align: center;
}

.dashboardContainer #modal-add h2,
.dashboardContainer #modal-edit h2 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.dashboardContainer #modal-add form > div,
.dashboardContainer #modal-edit form > div {
  margin-bottom: 1rem;
}

.dashboardContainer #modal-add button,
.dashboardContainer #modal-edit button,
.dashboardContainer #modal-confirm button {
  width: 100%;
  margin-top: 0.65rem;
}

.dashboardContainer #modal-add .modal-buttons,
.dashboardContainer
  #modal-edit
  .modal-buttons
  .dashboardContainer
  #modal-confirm
  .modal-buttons {
  margin-top: 1.5rem;
}

.dashboardContainer #modal-confirm .header p:first-child {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 0.5rem;
}

.dashboardContainer #modal-confirm .header p:last-child {
  font-size: 1.05rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.addButton {
  width: fit-content;
  padding: 1rem;
  border-radius: 50% !important;

  position: fixed;
  bottom: 50px;
  right: 50px;
}

.addButton:hover img {
  animation: spin 1s;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@media (max-width: 560px) {

  .dashboardContent .header {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
}