.signInContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  width: 100%;
  height: 100%;
  flex: 1;
}

.background-side {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr) 180px;

  background-image: url("../../assets/login-background.png");
  background-size: cover;
}

.background-side div {
  grid-row: 5;
  max-width: 600px;
  margin-left: 7.2rem;
}

.background-side h1.display-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.background-side h1.display-title span {
  color: var(--orange);
}

.background-side p {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.action-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-side > div {
  max-width: 320px;
}

.action-side > div,
.action-side form {
  display: flex;
  flex-direction: column;
}

.action-side form > div {
  margin-bottom: 1rem;
}

.action-side h2 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.action-side > div > div p {
  font-size: 1.15rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.action-side form {
  font-family: "Lato", sans-serif;
  margin: 2rem 0 3rem;
}

.action-side form button {
  margin-top: 0.5rem;
}

.action-side div p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

@media (max-width: 1370px) {
  .signInContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 38vh 1fr;
  }

  .background-side {
    display: flex;
    align-items: center;
    width: 100%;
    height: 38vh;
  }

  .background-side div {
    margin-bottom: -60px;
  }
}

@media (max-width: 720px) {
  .background-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background-side div {
    margin-left: 0;
    max-width: 450px;
  }

  .background-side h1.display-title {
    font-size: 3.5rem;
  }

  .background-side p {
    font-size: 1.4rem;
  }
}

@media (max-width: 560px) {
  .signInContainer {
    grid-template-rows: 250px 1fr;
  }

  .background-side {
    height: 250px;
  }

  .background-side div {
    margin-left: 0;
    max-width: 400px;
    padding: 1.5rem;
  }

  .background-side h1.display-title {
    font-size: 3rem;
  }

  .background-side p {
    font-size: 1.3rem;
  }

  .action-side {
    align-items: start;
    margin: 60px 2.5rem 0;
  }
}
