* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

:root {
  --orange: #fe7b1d;
  --sucess: #33cc95;
  --warning: #ffa300;
  --error: #e52e4d;
  --soft-black: #333333;
  --gray: #a8a8b3;

  --title: #333333;
  --subtitle: #464646;
}

.global-wrapper {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #efefef;
  color: var(--soft-black);
  font-family: "Lato", sans-serif;
}

body,
input,
button,
textarea {
  font: 400 1rem var(--soft-black);
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  color: var(--orange);
}

::selection {
  background: var(--orange);
  color: #fff;
}

button {
  transition: ease 0.2s;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
  transition: ease 0.2s;
}
