.headerContainer {
  height: 90px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  padding: 0 2.5rem;
  background-color: var(--soft-black); 

  box-shadow: 0 0 5px 2px var(--soft-black);
}

.headerContent {
  height: 90px;
  width: 100%;
  max-width: 1120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 560px) {
  .headerContainer, .headerContent {
    height: 75px;
  }

  .headerContent {
    max-width: 560px;
  }

  .headerContent > img {
    width: 130px;
  }
}